.storyline {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--paper);
    gap: 20px;
    padding-bottom: 100px;
    margin-bottom: 500px;
}

.storyline_title {
    color: black;
    font-size: 40px;
    line-height: 50px;
    width: 100%;
    text-align: end;
    margin: 0;
    margin-bottom: 50px;
}

.storyline_tag-title {
    color: black;
    font-size: 32px;
    line-height: 40px;
    padding-top: 9px;
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    text-align: start;
}

.storyline_subsection-title {
    color: var(--wall);
    font-size: 16px;
    width: 100%;
    text-align: end;
}

.storyline_projects {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.storyline_projects-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
}

.storyline_tags {
    width: 200px;
    border-left: solid 1px var(--pastel);
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.storyline_dev-tool {
    display: block;
    padding: 0px;
    border-radius: 0;
    background-color: var(--paper);
    border-left: none !important;
    border-top: none !important;
    border-bottom: solid 1px black !important;
    border-right: none !important;
    font-size: 12px;
    line-height: 14px;
    margin: 6px;
    text-transform: uppercase;
    position: relative;
    outline: none !important;
}

.storyline_dev-tool.--active {}

.storyline_dev-tool span {
    color: var(--paper);
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    font-family: monospace;
}

.storyline_dev-tool::after {
    content: "";
    display: block;
    width: 8px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 0;
    transition: width 250ms linear;
}

.storyline_dev-tool.--active::after {
    width: 100%;
    background-color: black;
}

@media (max-width: 860px) {

    .storyline_projects {
        order: 1;
        width: 100%;
    }

    .storyline_tags {
        order: 2;
        width: 100%;
    }

    .storyline {
        flex-direction: column;
        padding-left: 0px;
    }
}




/** asix */
.storyline_axis-section {
    width: 100%;
    padding: 50px;
}

.storyline_step-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 400px;
    position: relative;
    width: calc(100% - 120px);
    margin-left: 60px;
}

.storyline_axis-wrapper {
    display: flex;
    align-items: center;
}

.storyline_axis-wrapper_before {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}

.storyline_axis-wrapper_before::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

.storyline_axis-wrapper_after {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storyline_axis-wrapper_after::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    border-top: solid 1px black;
    border-right: solid 1px black;
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: top right;
}

.storyline_axis-wrapper_after::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

.storyline_y-axis {
    position: absolute;
    bottom: -30px;
    left: 0;
}

.storyline_y-axis-field {
    position: absolute;
    left: 0;
    bottom: -30px;
    transition: height 150ms linear;
}

.storyline_y-axis-field::after,
.storyline_y-axis-field::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--wall);
}

.storyline_y-axis-field::before {
    top: 0;
    right: -10px;
    width: 100%;
    max-width: 150px;
    height: 1px;
}

.storyline_y-axis-field::after {
    top: -10px;
    right: 0px;
    width: 1px;
    height: 100%;
    max-height: 100px;
}

.storyline_y-axis-field-dot {
    width: 10px;
    height: 10px;
    background-color: var(--wall);
    border-radius: 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.storyline_y-axis-line {
    height: 1px;
    width: 1px;
    background-color: black;
    transition: height 150ms linear;
}

.storyline_y-axis-label {
    font-size: 10px;
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}

.storyline_education {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}