.storyline {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--paper);
    gap: 20px;
    padding-bottom: 100px;
    margin-bottom: 500px;
}

.storyline_title {
    color: black;
    font-size: 40px;
    line-height: 50px;
    width: 100%;
    text-align: end;
    margin: 0;
    margin-bottom: 50px;
}

.storyline_tag-title {
    color: black;
    font-size: 32px;
    line-height: 40px;
    padding-top: 9px;
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    text-align: start;
}

.storyline_subsection-title {
    color: var(--wall);
    font-size: 16px;
    width: 100%;
    text-align: end;
}

.storyline_projects {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.storyline_projects-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
}

.storyline_tags {
    width: 200px;
    border-left: solid 1px var(--pastel);
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.storyline_dev-tool {
    display: block;
    padding: 0px;
    border-radius: 0;
    background-color: var(--paper);
    border-left: none !important;
    border-top: none !important;
    border-bottom: solid 1px black !important;
    border-right: none !important;
    font-size: 12px;
    line-height: 14px;
    margin: 6px;
    text-transform: uppercase;
    position: relative;
    outline: none !important;
}

.storyline_dev-tool.--active {}

.storyline_dev-tool span {
    color: var(--paper);
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    font-family: monospace;
}

.storyline_dev-tool::after {
    content: "";
    display: block;
    width: 8px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 0;
    transition: width 250ms linear;
}

.storyline_dev-tool.--active::after {
    width: 100%;
    background-color: black;
}

@media (max-width: 860px) {

    .storyline_projects {
        order: 1;
        width: 100%;
    }

    .storyline_tags {
        order: 2;
        width: 100%;
    }

    .storyline {
        flex-direction: column;
        padding-left: 0px;
    }
}

.storyline_axis-section {
    width: 100%;
    padding: 0 50px;
    margin-bottom: 200px;
}

.storyline_chart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.storyline_chart-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}

.storyline_chart-column::before {
    content: "";
    position: absolute;
    height: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse 100% 50% at left bottom,
            rgba(var(--pastel-rgb), .3),
            rgba(var(--paper-rgb), 1))
}

@keyframes pulse {
    from {
        height: 0%;
    }

    to {
        height: 100%
    }
}

.storyline_chart-column.--active::before {
    animation: pulse 250ms linear forwards;
}

.storyline_chart-column::after {
    content: attr(data-attr);
    font-size: 12px;
    color: var(--pastel);
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.storyline_chart-edu::before {
    background: radial-gradient(ellipse 100% 50% at right bottom,
            rgba(var(--jeans-rgb), .3),
            rgba(var(--paper-rgb), 1))
}

.storyline_chart-edu::after {
    color: var(--jeans);
}

.storyline_chart-exp {
    align-items: flex-start;
    padding-left: 10px;
}

.storyline_chart-sections {
    height: 250px;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.storyline_step-content {
    height: 250px;
    position: relative;
    width: calc(100% - 120px);
    margin-left: 60px;
}

.storyline_axis-wrapper {
    display: flex;
    align-items: center;
}

.storyline_axis-wrapper_before {
    width: 60px;
    height: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}

.storyline_axis-wrapper_before::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

.storyline_axis-wrapper_after {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storyline_axis-wrapper_after::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: solid 1px black;
    border-right: solid 1px black;
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: top right;
}

.storyline_axis-wrapper_after::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

.storyline_y-axis {
    position: absolute;
    bottom: -30px;
    left: 0;
}

.storyline_y-axis-field {
    position: absolute;
    left: 0;
    bottom: -30px;
    transition: height 150ms linear;
}

.storyline_y-axis-field::after,
.storyline_y-axis-field::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--wall);
}

.storyline_y-axis-field::before {
    top: 0;
    right: -10px;
    width: 100%;
    max-width: 150px;
    height: 1px;
}

.storyline_y-axis-field::after {
    top: -10px;
    right: 0px;
    width: 1px;
    height: 100%;
    max-height: 100px;
}

.storyline_y-axis-field-dot {
    width: 10px;
    height: 10px;
    background-color: var(--wall);
    border-radius: 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.storyline_y-axis-line {
    height: 1px;
    width: 1px;
    background-color: black;
    transition: height 150ms linear;
}

.storyline_y-axis-label {
    font-size: 10px;
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}

.storyline_step-invite {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.storyline_step-invite::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--floor);
    height: calc(100% - 59px);
    width: 1px;
    display: block;
}

.storyline_step-invite::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4.5px;
    height: 8px;
    width: 8px;
    display: block;
    transform: rotate(45deg);
    border: solid 1px var(--floor);
    border-top-color: transparent;
    border-left-color: transparent;
}

.storyline_step-invite-headline {}

.storyline_step-invite-headline span:first-of-type {
    color: var(--floor);
    font-size: 60px;
    font-weight: 900;
    height: 59px;
    display: block;
}

.storyline_step-invite-headline span:last-of-type {
    border-top: solid 1px var(--floor);
    color: var(--floor);
    font-size: 30px;
    font-weight: 600;
}

.storyline_step-invite-bullet {
    text-align: start;
    font-size: 12px;
    font-weight: 400;
    color: var(--floor);
    padding: 4px;
}

.storyline_step-invite-claim {
    text-align: start;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    color: var(--paper);
    background-color: var(--floor);
}

.storyline_step-invite-message {
    text-align: start;
    font-size: 11px;
    font-weight: 400;
    color: var(--floor);
    margin-top: auto;
    padding: 10px;
}