.banner {
    width: 100%;
}

.banner_card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: var(--paper);
    border-left: solid 2px black;
    height: 570px;
    overflow: hidden;

    /* RWD */
    width: calc(100% - 100px);
}

.banner_card::before {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: black;
    position: absolute;
    right: 0px;
    top: 0;
}

.banner_card::after {
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: 0;
}

.banner_image-wrapper {
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    filter: grayscale(1);
}

.banner_image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 800px;
    z-index: 0;
    filter: grayscale(0.5);
}

.banner_name-surname {
    position: absolute;
    color: var(--paper);
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    top: 10px;
    right: 6px;
    text-align: end;
}

.banner_title {
    position: absolute;
    color: var(--paper);
    z-index: 2;
    bottom: 10px;
    right: 6px;
    text-align: end;
}

.banner_headline {
    color: black;
    font-weight: 700;
    font-size: 90px;
    line-height: 1.2;
    padding-left: 20px;
    letter-spacing: 2px;
    word-break: break-all;
    word-wrap: break-word;
}

.banner_message {
    color: black;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 18px;
    text-align: end;
    line-height: 2;
    align-self: flex-end;
    padding: 20px;
    padding-right: 0;
}

.banner_content {
    flex: auto;
    background: var(--paper);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.banner_contact {
    background-color: black;
    width: 100%;
}

.banner_contact-inner {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: var(--paper);
    text-align: end;
    position: relative;
    align-items: center;

    /* RWD */
    width: calc(100% - 100px);
}

.banner_contact-inner::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: var(--paper);
    height: 100%;
    width: 1px;
}

.banner_contact button {
    background: transparent;
    color: var(--paper);
    outline: none;
    border: none;
}

.banner_contact img {
    height: 20px;
}

.banner_more {
    width: calc(100% - 100px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background-color: none;
    background: none;
    outline: none !important;
    border: none;
}

.banner_arrow-like {
    width: 200px;
    max-width: 50%;
    height: 30px;
    border-top: solid 4px black;
    border-right: solid 4px black;
    border-left: solid 4px transparent;
    border-bottom: none;
    position: relative;
}

.banner_arrow-like.--no-stick {
    border-color: transparent;
}

.banner_arrow-like::after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 4px black;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    bottom: -8px;
    right: -12px;
}

.banner_arrow-label {
    font-size: 16px;
    color: black;
}

@media (max-width: 970px) {

    .banner_card,
    .banner_contact-inner {
        width: 100%;
    }

    .banner_message {
        padding-right: 10px;
    }
}

@media (max-width: 860px) {
    .banner_image-wrapper {
        width: 100%;
        height: 600px;
        max-width: 100%;
    }

    .banner_image {
        width: auto;
        height: 860px;
    }

    .banner_content {
        position: absolute;
        bottom: 10px;
        top: 0;
        left: 10px;
        width: calc(100% - 20px);
        background: transparent;
    }

    .banner_content>* {
        color: var(--paper);
    }

    .banner_headline {
        font-size: 50px;
    }

    .banner_message {
        text-align: start;
        align-self: start;
        font-weight: 500;
    }
}

.ornament {
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 1px;
    background-color: var(--jeans);
    mix-blend-mode: difference;
}

.ornament.--reverse {
    justify-content: space-between;
    width: 56%;
    background-color: var(--wall);
    margin-left: auto;
    margin-top: 10px;
}

.ornament-line {
    height: 100px;
    width: 1px;
    background-color: var(--jeans);
}

.ornament-line.--1 {
    margin-left: 5px;
    margin-top: 6px;
    background-color: var(--jeans);
    height: 20px;
}

.ornament-line.--2 {
    margin-left: 8px;
    margin-top: 2px;
    background-color: var(--wall);
    height: 40px;
}

.ornament-line.--3 {
    margin-left: 2px;
    margin-top: 6px;
    background-color: var(--pastel);
    height: 18px;
}

.ornament-line.--4 {
    margin-left: 1px;
    margin-top: 2px;
}

.ornament-line.--5 {
    margin-left: 15px;
    margin-top: 16px;
    height: 58px;
}

.ornament-line.--6 {
    margin-left: -5px;
    margin-top: -6px;
    height: 8px;
}