.banner {
    width: 100%;
    padding-bottom: 200px;
    padding-top: 20px;
}

.lang-button {
    width: 60px;
    height: 60px;
    background-color: var(--paper);
    color: black;
    border: solid 1px var(--paper);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 6px;
    position: fixed;
    flex-direction: column;
    top: 10px;
    left: 20px;
    font-size: 12px;
    cursor: pointer;
    mix-blend-mode: difference;
}

.lang-button img {
    width: 16px;
}

.banner_card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: var(--paper);
    height: 600px;
    width: 100%;
    max-width: 1600px;
}

.banner_card-margin {
    width: 100%;
    padding-right: 100px;
}

.banner_card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: var(--paper);
    height: 600px;
    width: 100%;
}

.banner_card-content::before {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: black;
    position: absolute;
    right: 0px;
    top: 0;
}

.banner_card-content::after {
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: 0;
}

.banner_image-wrapper {
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    filter: grayscale(1);
}

.banner_image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 850px;
    z-index: 0;
    filter: grayscale(0.5);
}

.banner_text-content-column {
    flex: auto;
    background: var(--paper);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
}

.banner_text-content-column::after,
.banner_text-content-column::before {
    content: "";
    display: block;
    background-color: black;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 40px;
}

.banner_text-content-column::before {
    left: unset;
    right: 0;
    height: 50%;
    top: 0;
}

.banner_headline {
    color: black;
    font-weight: 700;
    font-size: 90px;
    line-height: 1.2;
    padding-left: 20px;
    letter-spacing: 2px;
    word-break: break-all;
    word-wrap: break-word;
}

.banner_message {
    color: black;
    font-weight: 400;
    font-size: 18px;
    text-align: end;
    align-self: flex-end;
    padding: 20px;
    padding-right: 0;
}

.banner_message span {
    background-color: rgba(var(--anchor-rgb), .4);
}

.banner_more {
    width: 100%;
    max-width: 1600px;
    padding-right: 100px;
    background-color: var(--paper);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: calc(100vh - 800px);
    min-height: 100px;
}

.banner_cta-line {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.banner_contact-line {
    display: block;
    line-height: 20px;
    height: 20px;
    position: relative;
    padding-right: 100px;
}

.banner_contact-line span {
    text-align: left;
    white-space: nowrap;
    padding-right: 16px;
}

.banner_contact-line::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 60%;
    height: 1px;
    background-color: black;
}

.banner_cta-label {
    display: block;
    line-height: 20px;
    height: 20px;
    position: relative;
    font-size: 18px;
    border-left: solid 4px transparent;
    border-bottom: solid 4px black;
    border-right: solid 4px transparent;
    padding-right: 6px;
    text-align: end;
    width: 100%;
}

.banner_cta-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 171px;
    padding: 0;
}

.banner_arrow-like {
    width: 200px;
    max-width: 50%;
    height: 14px;
    border-right: solid 4px black;
    border-bottom: none;
    border-top: none;
    position: relative;
}

.banner_arrow-like.--no-stick {
    border-color: transparent;
}

.banner_arrow-like::after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 4px black;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    bottom: -0px;
    right: -12px;
}

.banner_arrow-label {
    font-size: 16px;
    color: black;
}

@media (max-width: 960px) {

    .banner_card-margin {
        padding-right: 0;
    }

    .banner_image-wrapper {
        width: 100%;
        height: 600px;
        max-width: 100%;
    }

    .banner_image {
        width: auto;
        height: 960px;
    }

    .banner_text-content-column {
        position: absolute;
        bottom: 10px;
        top: 0;
        left: 10px;
        width: calc(100% - 20px);
        background: transparent;
    }

    .banner_text-content-column>* {
        color: var(--paper);
    }

    .banner_headline {
        padding-top: 80px;
        font-size: 50px;
    }

    .banner_headline span {
        background-color: rgba(var(--anchor-rgb), .5);
    }

    .banner_message {
        text-align: start;
        align-self: start;
        font-weight: 500;
    }

    .banner_message span {
        background-color: rgba(var(--jeans-rgb), .8);
    }

    .banner_more {
        padding-right: 0;
    }

    .banner_contact-line {
        height: unset;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .banner_cta-button {
        display: none;
    }
}

@media (max-height: 710px) {
    .banner_contact-line {
        height: unset;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .banner_cta-button {
        display: none;
    }
}