.CVSection {
    width: 100%;
    background-color: var(--floor);
    --max-width: 1600px;
    --padding: 20px;
    color: var(--floor);
}

.CVSection_header {
    width: 100%;
    max-width: var(--max-width);
    background-color: var(--paper);
    padding: calc(var(--padding) * 3) var(--padding) var(--padding) calc(var(--padding) * 6);
    margin-left: auto;
}

.CVSection_title {
    font-size: 50px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 900;
    text-transform: lowercase;
    display: inline-block;
    line-height: 1;
    height: 45px;
    vertical-align: baseline;
    border-bottom: solid 1px var(--floor);
}

.CVSection_headline {
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-transform: lowercase;
    vertical-align: baseline;
    line-height: 1;
}


.CVSection_content {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    background-color: var(--paper);
    padding: calc(var(--padding) * 3) var(--padding) var(--padding) calc(var(--padding) * 6);
    margin-left: auto;
}

.CVSection_cases {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.CVSection_tools {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CVSection_toolsTitle {
    text-align: start;
}

.CVSection_casesTitle {
    text-align: end;
    width: 100%;
    padding-right: 75%;
}

.CVSection_toolBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CVSection_aside {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--paper);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}