.ToolSection {
    color: rgba(var(--wall-rgb), .75);
}

.ToolSection_title {
    margin: 0;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    display: inline-block;
    padding: 2px 6px;
    margin: 2px;
    background-color: transparent;
    transition: background-color 250ms ease-in, color 250ms ease-in;
    transition-delay: 500ms;
}

.ToolSection_list {
    display: inline;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ToolSection_item {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    margin: 2px;
    padding: 2px 6px;
    display: inline-block;
    background-color: transparent;
    transition: background-color 250ms ease-in, color 250ms ease-in;
    transition-delay: 500ms;
}

.ToolSection_item[data-active="true"],
.ToolSection_title[data-active="true"] {
    background-color: rgb(var(--pastel-rgb), .5);
    color: var(--floor);
}