.Chronology_section {
    width: calc(100% - 120px);
    z-index: 1;
    display: flex;
    align-items: center;
}

.Chronology_track {
    width: calc(100% - 60px);
    height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.Chronology_handle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: col-resize;
    background-color: var(--anchor);
    user-select: none;
    font-family: monospace;
    font-size: 16px;
    color: var(--paper);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -15px
}

.Chronology_handle:hover {
    background-color: var(--anchor-hover);
}

.Chronology_axis {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--pastel);
    top: calc(50% - 0.5px);
    left: 0;
}

.Chronology_axis-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Chronology_axis-unit {
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--wall);
    border-radius: 50%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

@keyframes Chronology-pulse {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.Chronology_axis-unit-label {
    position: absolute;
    border-radius: 2px;
    border-top-right-radius: 0;
    white-space: nowrap;
    padding: 0px 6px 2px 2px;
    font-size: 10px;
    opacity: 0;
    top: unset;
    bottom: calc(100% + 10px);
    right: 50%;
    transform: rotate(0deg) translate(50%);
    transform-origin: top right;
    opacity: 0;
    transition: all 250ms ease-out;
    padding: 4px;
    /* top: 100%;
    bottom: unset;
    right: 50%;
    transform: rotate(-45deg);
    transform-origin: top right; */
}

.Chronology_axis-unit-highlight {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: scaleY(0.5) rotate(-45deg);
    transform-origin: left bottom;
    transition: all 250ms ease-out;
    opacity: 0;
}

.Chronology_section:not(.--operational) .Chronology_axis-unit:hover .Chronology_axis-unit-label,
.Chronology_axis-unit-label.--highlighted,
.Chronology_axis-unit-label.--active,
.Chronology_section:not(.--operational) .Chronology_axis-unit:hover .Chronology_axis-unit-highlight,
.Chronology_axis-unit-highlight.--highlighted,
.Chronology_axis-unit-highlight.--active {
    opacity: 1
}

.Chronology_section:not(.--operational) .Chronology_axis-unit:hover .Chronology_axis-unit-label {
    background-color: var(--paper);
}

.Chronology_section:not(.--operational) .Chronology_axis-unit:hover .Chronology_axis-unit-label,
.Chronology_section:not(.--operational) .Chronology_axis-unit:hover .Chronology_axis-unit-highlight {
    z-index: 1;
}

.Chronology_axis-unit-label.--highlighted,
.Chronology_axis-unit-highlight.--highlighted {
    transition-delay: 0ms;
}

.Chronology_axis-unit-label.--active,
.Chronology_axis-unit-highlight.--active {
    transition-delay: 0ms;
}

.Chronology_end-ornament,
.Chronology_start-ornament {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
}

.Chronology_end-ornament::after,
.Chronology_start-ornament::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--pastel);
    position: absolute;
    top: calc(50% - .5px);
    left: 0;
}

.Chronology_start-ornament::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--pastel);
    position: absolute;
    top: 0;
    left: 0;
}

.Chronology_end-ornament::before {
    content: "";
    width: 15px;
    height: 15px;
    border-top: solid 1px var(--pastel);
    border-right: solid 1px var(--pastel);
    transform: rotate(45deg);
    position: absolute;
    top: calc(50% - 0px);
    right: calc(0% - 0px);
    transform-origin: top right;

}