.ExperienceCase {
    color: var(--floor);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    --accent: var(--pastel);
}

.ExperienceCase_heading {
    order: 2;
    width: 75%;
    margin: 0;
}

.ExperienceCase::after {
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    background-color: var(--accent);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -3px;
    left: 0;
    transition: left 250ms ease-out, opacity 250ms ease-out;
}

.ExperienceCase::before {
    width: 0%;
    height: 1px;
    background-color: var(--accent);
    position: absolute;
    top: 0;
    left: 15%;
    transition: width 500ms ease-out, opacity 500ms ease-out;
    display: block;
    content: "";
    opacity: 0;
}

.ExperienceCase:hover::after {
    opacity: 1;
    left: calc(25% - 3px);
}

.ExperienceCase:hover::before {
    opacity: 1;
    width: 40%;
}

.ExperienceCase_heading span:first-child {
    font-size: 14px;
    letter-spacing: 0.7px;
}

.ExperienceCase_heading span:last-child {
    font-size: 14px;
    font-weight: 500;
}

.ExperienceCase_time {
    order: 1;
    text-align: end;
    font-size: 12px;
    display: inline-block;
    padding: 0 20px 0px 6px;
    transition: background-color 250ms ease-out, padding 250ms ease-out;
    background-color: transparent;
    color: var(--wall);
}

.ExperienceCase:hover .ExperienceCase_time {
    background-color: var(--accent);
    color: var(--paper);
    padding: 0 6px 0px 6px;
}

.ExperienceCase_description {
    order: 3;
    padding: 0 0 0 25%;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    line-height: 2;
    color: var(--wall);
}