:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --paper: #dadad2;
  --pastel: #7396bf;
  --wall: #807b90;
  --jeans: #332c33;
  --ground: #af7a70;
  --anchor: #646cff;
  --floor: #213547;
  --anchor-hover: #535bf2;

  --paper-rgb: 218, 218, 210;
  --pastel-rgb: 115, 150, 191;
  --wall-rgb: 128, 123, 144;
  --ground-rgb: 175, 122, 112;
  --jeans-rgb: 51, 44, 51;
  --anchor-rgb: 100, 108, 255;
  --floor-rgb: 33, 53, 71;

}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

button {
  background-color: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}